<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Edit Campground</title>
  </head>
  <body>
    <h1>Edit Campground</h1>
    <form action="/campgrounds/<%=camp._id%>?_method=PUT" method="POST">
      <!--give an method override to overwrite the value -->
      <div>
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          name="campground[title]"
          value="<%=camp.title%>"
        />
        <!-- give the actual value to form -->
      </div>
      <div>
        <label for="location">Location</label>
        <input
          type="text"
          id="location"
          name="campground[location]"
          value="<%=camp.location%>"
        />
      </div>
      <button>Update form</button>
    </form>
    <a href="/campgrounds/<%=camp._id%>">Back to campground</a>
  </body>
</html>
