<!-- to connecting the layout -->
<%layout('layouts/boilerplate')%>
<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <form class="mb-3" action="/campgrounds" method="POST">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image Url</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="campground[image]"
        />
      </div>

      <!-- Price -->
      <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            name="campground[price]"
            aria-label="Amount (to the nearest dollar)"
          />
        </div>
      </div>

      <!-- description -->
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
        ></textarea>
      </div>

      <!-- name digunakan untuk mengacu satu data dalam JSON jika sama2 campground
            maka akan dikelompokkan jadi satu data campground yang objectnya berisi
            title dan location -->
      <button class="btn btn-primary">Add New Campground</button>
    </form>
    <a href="/campgrounds">Back to All campgrounds</a>
  </div>
</div>
